<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" />
    </system.web>
  <appSettings>
    <add key="ATOMPaymentIP" value=""/>
    <add key="ATOMLogin" value="197"/>
    <add key="ATOMPassword" value="Test@123"/>
    <add key="ATOMTransactionType" value=""/>
    <add key="ATOMProductId" value="NSE"/>
    <add key="TransferURL" value="https://paynetzuat.atomtech.in/paynetz/epi/fts?login=[MerchantLogin]pass=[MerchantPass]ttype=[TransactionType]prodid=[ProductID]amt=[TransactionAmount]txncurr=[TransactionCurrency]txnscamt=[TransactionServiceCharge]clientcode=[ClientCode]txnid=[TransactionID]date=[TransactionDateTime]custacc=[CustomerAccountNo]ru=[ru]signature=[signature]" />
  </appSettings>
</configuration>
