<?xml version="1.0"?>
<configuration>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <appSettings>
    <add key="MerchantId" value="225617"/>
    <add key="WorkingKey" value="525EEF1C2FA27E82C312A1E5B9AE45B3"/>
    <add key="AccessCode" value="AVNJ86GG56BH95JNHB"/>
    <add key="CheckoutUrl" value="https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction"/>
  </appSettings>
</configuration>
